# 1. Réaliser une veille sur les les différents SGBD. Proposer un exemple concret d’utilisation pour argumenter vos explications. 
. 1.1 Descriptions des SGBD relationnels classiques (forces des SGBD relationnels classiques et les propriétés ACID, faiblesses des SGBD relationnels classiques) <br>
. 1.2 Quelles sont les spécificités des systèmes NoSQL <br>
. 1.3 Quelles sont les spécificités des systèmes NewSQL

## 1.1 Descriptions des SGBD relationnels classiques (forces des SGBD relationnels classiques et les propriétés ACID, faiblesses des SGBD relationnels classiques)

Propriété ACID : <br>
. Atomicité <br>
. Cohérence<br>
. Isolation <br>
. Durabilité <br>

Andreas Reuter et Theo Härder ont inventé l’acronyme ” ACID ” en 1983. <br>
Ressources : https://www.lebigdata.fr/acid-base-de-donnees-definition

### Microsoft Access <br>
. Pour qui ?  SGBDR destiné au grand public et aux PME. <br>
. Simple d'utilisation,  dispose d'une interface graphique conviviale permettant notamment de générer des requêtes d'extraction de données grâce a des assistants ou a une technologie propriétaire appelée QBE. <br>
. Budget beaucoup plus faible que les autres SGBDR puisque Accès est livré avec Microsoft Office pour Windows en standard.  <br>
. Peu performant pour les bases très volumineuses car non adapté à ces dernières et  ne permet pas de créer des applications multi-plateformes car il n'est compatible qu'avec les systèmes d'exploitation Microsoft.B

### Microsoft SQL Server
. Pour qui ?  SGBDR beaucoup plus professionnelle qu'Access . elle est donc destinée à des applications beaucoup plus volumineuses et complexes <br>
. Possède comme son nom l'indique de fonctions client/serveur évoluées lui permettant ainsi d'être utilisé dans de grosses infrastructures informatiques <br>
. SQL Server peut facilement être interfacé avec les principeaux langages de programation  comme le C++, l'ASP notament grâce à la suite Visual Studio destinée aux développeurs. <br>
. Il va de soit que cette solution est beaucoup plus onéreuse que son homologue grand public/PME (Access).

### MySQL
. MySQL est une base de données Open Source, c'est à dire qu'elle est totalement gratuite et qu'elle donne la possibilité aux développeurs expérimentés de la modifier à volonté pour étendre ses capacitées  <br>
. Ce SGBDR est donc destiné à tout public, sauf pour les grosses infrastructures à cause de son manque de maturité. <br>
. MySQL est très simple d'utilisation et s'interfaçe parfaitement avec les langages orietés wob et particulièrement le PHP.

### Oracle
. Oracle  est le maitre des bases de données, il est le SGBDR le plus abouti et le utilisé dans les grosses entreprises notament grâce à sa fiabilité sur des bases très volumineuses <br>
. Par exemple une banque choisira ce SGBDR sans la moindre hésitation. <br>
. Mais qui dit fiabilité, maturité, notoriété, dit gros budget. Les PME et particuliers s'en passeront pour des altérnatives moins onéreuses.

Pour info : Oracle est écrit ezn langage C , plateforme : Linux/Windows
Oracle dispose d'un grand nombre d'interfaces (API) permettant à des programmes écrits dans divers langages de s'interfacer avec la BDD en envoyant des requêtes SQL. Ces interfaces (appelées précompilateurs) forment une famille dont le nom commence par PRO* : 
    • Pro*C <br>
    • Pro*Cobol <br>
    • Pro*Fortran <br>
    • Pro*Pascal <br>
    • Pro*PLI <br>
(API : Bibliothèque de fonctions destinées à être utilisées par les programmeurs dans leurs applications. Ces fonctions facilitent l'écriture des programmes en fournissant des routines ( procédures ) pour gérer des éléments particuliers (affichage, pilotage de périphériques…).

## 1.2 Quelles sont les spécificités des systèmes NoSQL

Constat : Les bases de données Non Relationnelle(NoSQL) ont été inventées afin de palier aux différentes problématiques rencontrées avec les modèles relationnels, comme : <br>
. Difficultés pour sauver et récupérer des grappes d’objets avec des programmes écrits en Java ou C#... (on parle de « mismatch d’impédance) <br>
. Difficultés pour satisfaire les besoins des applications Web à grande échelle (nouveaux besoins métiers, nouvelles contraintes techniques)<br>

Et voici les 3 aspects qui ont motivé la nouvelle vague de bases NoSQL (Not Only SQL..) : <br>
. Le VOLUME des données créées double tous les 2 ans. IDC estime qu’en 2020 le volume atteindra 44 Zettabytes (1 ZB = 1 milliards de terabytes) <br>
. La VARIÉTÉ des types de données créées (Smartphones) <br>
. La VÉLOCITÉ avec laquelle les données changent est également très importante (Internet of Things) <br>

Ressources : <br>
. https://openclassrooms.com/fr/courses/4462426-maitrisez-les-bases-de-donnees-nosql/4462433-choisissez-votre-famille-nosql <br>
. https://www.digora.com/fr/blog/definition-base-nosql-datastax-mongodb <br>
. https://www.mysqltutorial.org/import-csv-file-mysql-table/ <br>
. https://www.fun-mooc.fr/cours/#search?query=base%2Bde%2Bdonn%C3%A9e&page=1&rpp=50

### 3. Créer une base de donnée Netflix

In [ ]:
drop database netflix;
create database netflix;
use netflix;
drop table if exists netflix_show;
drop table if exists netflix_title;

### 3.1 Préparation de MySQL pour faire le DATA LOAD

In [ ]:
# 1ère option
sudo mysql --local-infile=1 -u xav
# 2ème option 
>>> show global variables like 'local_infile';
>>> set global local_infile=true;
>>> set global local_infile = 1;

### 4. Créer une table appelée ‘netflix_title’, importer les données provenant du fichier netflix_titles.csv

In [ ]:
create table netflix_title(
show_id int,
type_ varchar(255),
title varchar(255),
director varchar(255),
cast varchar(780),
country varchar(255),
date_added varchar(255),
release_year int,
rating varchar(255),
duration int ,
listed_in varchar(255),
description_ varchar(255)
);

load data local infile '/home/helloworld/Bureau/Brief/BDD/netflix_titles.csv'
into table netflix_title
CHARACTER SET latin1
fields terminated by ','
enclosed by '"'
LINES TERMINATED BY '\r\n'
ignore 1 rows;

### 5. Créer une table appelée ‘netflix_shows’ provenant du fichier Netflix Shows.csv

In [ ]:
load data local infile '/home/helloworld/Bureau/Brief/BDD/Netflix_Shows.csv'
into table netflix_show
CHARACTER SET latin1
fields terminated by ','
enclosed by '"'
lines terminated by '\n'
ignore 1 rows;

create table netflix_show(
title varchar(255),
rating varchar(255),
rating_level varchar(255),
rating_description int,
release_year int,
user_rating_score varchar(255),
user_rating_size int

);

### 6. Afficher tous les titres de films de la table netflix_titles dont l’ID est inférieur strict à 80000000

In [ ]:
select title, show_id from netflix_title where show_id < 80000000;

### 7. Afficher toutes les durée des TV Show (colonne duration)

In [ ]:
select title, duration from netflix_title where type_='TV Show' ;

### 9. Afficher tous les noms de films communs aux 2 tables (netflix_titles et netflix_shows)

In [ ]:
select  distinct netflix_title.title from netflix_title, netflix_show
where netflix_title.title = netflix_show.title;

### 10. Calculer la durée totale de tous les films (Movie)S de votre table netflix_titles

In [ ]:
select sum(duration) from netflix_title where type_ = 'Movie';

### 11. Compter le nombre de TV Shows de votre table ‘netflix_shows’ dont le ‘ratingLevel’ est renseigné.

In [ ]:
select count(type_) as total from netflix_title
inner join netflix_show 
on netflix_title.title = netflix_show.title 
where rating_level is not null ;

### 12. Compter les films et TV Shows pour lesquels les noms (title) sont les mêmes sur les 2 tables et dont le ‘release year’ est supérieur à 2016.

In [ ]:
select count(netflix_title.title) from netflix_title
inner join netflix_show on netflix_title.title = netflix_show.title
where netflix_title.title = netflix_show.title
and netflix_title.release_year > 2016 and netflix_show.release_year > 2016;

### 13. Supprimer la colonne ‘rating’ de votre table ‘netflix_shows’

In [ ]:
alter table netflix_show drop rating ;

### 14. Supprimer les 100 dernières lignes de la table ‘netflix_shows’

In [ ]:
# Etape 1: Créer la PRIMARY KEY
ALTER TABLE netflix_title ADD id INT NOT NULL AUTO_INCREMENT primary key first;
# Etape 2: Supprimer les lignes
# Solution 1:
delete from netflix_show where id > 900;
# Solution 2:
delete from netflix_shows order by id desc limit 100;

### 15. Le champs “ratingLevel” pour le TV show “Marvel's Iron Fist” de la table ‘netflix_shows’ est vide, pouvez-vous ajouter un commentaire ?

In [ ]:
update netflix_show
set rating_level = 'MAMAMIA' 
where rating_level = '' and title ="Marvel's Iron Fist";

### 17. Modéliser (Merise) votre Base de données netflix. Que pouvez-vous dire de cette modélisation ?